/* NAVBAR STYLES */
nav{
    background: red;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
   font-size: 30px;
}

/* MAIN CONTENT */

.body-area{
    padding: 30px;
}

.form-container h1{
    font-size: 40px;
    margin-bottom: 20px;
}

label{
    font-size: 16px;
}

input,textarea {
    border:1px solid #555555;
    font-size: 25px;
 padding: 10px;
}

textarea{
    border: 1px solid;
    width: 500px;
    min-width: 200px;
    max-width: 200px;
}

.input-wrapper{
    margin-bottom: 20px;
}

@media(min-width:800px){
.body-area,
.form-container{
 background:brown;
}
label{
    display: block;
    color:darkgoldenrod
}

.registration-button{
    font-size: 14px;
    background:dimgrey;
    padding: 2px 20px;
    color: floralwhite;
    cursor: pointer;
}
.registration-button:hover{
    font-weight: 900;

}